# Core libraries for ETL
pandas~=2.2
requests~=2.32
beautifulsoup4~=4.12
lxml~=5.2.2 # Parser efisien untuk BeautifulSoup

# Database and Google Sheets connectors
SQLAlchemy~=2.0
psycopg2-binary~=2.9
gspread~=5.12
google-auth~=2.29
google-auth-oauthlib~=1.2
google-api-python-client~=2.134

# Testing libraries
pytest~=8.2
pytest-cov~=5.0
requests-mock~=1.12